/* Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* Fonts */


/* Navigation Menu styling */
#nav-pills {
	width: 500px;
	display: flex;
}

#nav-pills input {
	border: 20px solid grey;
	padding: 1rem;
	background-color: transparent;
}

#nav-pills input:hover {
	background-color: #808080;
	-webkit-box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	-moz-box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	color: white;
}

.navbar{
	text-align: center;
	width: 100%;
}

.navbar ul{
	list-style-type: none;
	background-color: #808080;
	margin: 0;
	padding: 0;
}

.navbar li{
	display: inline;
}

.navbar li:last-child{
	float: right;
}

.navbar li input{
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	background: transparent;
  	border: none;
  	text-decoration: none;
}

.navbar li input:hover{
	background-color: #808080;
}

.postList {
	list-style-type: none;
	padding: 0;
}

.menuButton {
	background-color: #808080;
        border: none;
        color: white;
        padding: 10px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        margin: 0px 0px;
        cursor: pointer;
}

.menuButton:hover {
	background-color: #ff5353;
        border: none;
        color: white;
        padding: 10px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 0px 0px;
        cursor: pointer;
}
/* Navigation Menu styling */

/* Header styling */
.header {
	background-color: black;
}

.headerMenu {
	background-color: #808080;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color: white;
	margin: 10px 0px 0px;
}

.subTitle {
	color: #c7b532; /* yellow */
	margin: 0px 0px 10px;
}
/* Header styling */

/* Body styling */
.regBlock {
	display: flex; 
	justify-content: center; 
	width: 600px; 
	overflow: hidden;
	margin: auto;
	padding: 10px;
}

.formWrapper {
	text-align: center;
}

.none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	margin: 30px 0px 1px;
}

.formText {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 30px 0px 1px;
}

.formInput {
	background-color: #808080; /* Grey */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 0px 30px 0px 0px;
	padding: 10px 55px 10px 8px;
	text-align: left;
	transition-duration: 0.4s;
}

.formInput:hover {
	background-color: #515151; /* Grey */
	color: white;
	text-decoration: none;
}
/* Body styling */

/*Button styling*/
.button {
	background-color: #ff5353; /* Light Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 25px 0px 0px 0px;
	padding: 10px 85px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.buttonSpecial {
	background-color: #000000; /* Black */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
	padding: 10px 85px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
}

.buttonSpecial:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.buttonLong {
	background-color: #ff5353; /* Light Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px 0px 10px;
	padding: 20px 194px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
}

.buttonLong:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.featuredButton {
	background-color: #ff5353; /* Light Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px 0px 0px 20px;
	padding: 10px 46px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
}

.featuredButton:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.allPostsButton {
	background-color: #ff5353; /* Light Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px 0px 0px 20px;
	padding: 10px 70px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
}

.allPostsButton:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.special {
	background-color: #000000; /* Black */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 8px 0;
	padding: 10px 40px;
	text-align: center;
	transition-duration: 0.4s;
	width: 600px;
}

.special:hover {
	background-color: #ffffff; /* White */
	color: black;
}

.large {
	background-color: #ff5353; /* Light Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 300px 0px 300px 0px;
	padding: 100px 55px 100px 55px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;	
}

.large:hover {
	background-color: #808080; /* Grey */
	color: white;
	text-decoration: none;
}

.delete {
	background-color: #ff0000; /* Red */
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 8px 0;
	padding: 10px 40px;
	text-align: center;
	transition-duration: 0.4s;
	width: 600px;
}

.delete:hover {
	background-color: #ffffff; /* White */
	color: black;
}
/*Button styling*/

/*Image styling*/
.cropped {
    width: 525px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
/*Image styling*/
